<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakaopay.mapper.KakaoMapper">
	
	<sql id="kakaoColumns">
		idx
		, title
		, content
		, writer
		, view_cnt
		, notice_yn
		, secret_yn
		, delete_yn
		, insert_time
		, update_time
		, delete_time
	</sql>
	
	<insert id="insertKakaoTest" parameterType="KakaoT">
		INSERT INTO TB_KAKAO_TEST (
			<include refid="kakaoColumns" />
		) VALUES (
			  #{idx}
			, #{title}
			, #{content}
			, #{writer}
			, 0
			, IFNULL(#{noticeYn}, 'N')
			, IFNULL(#{secretYn}, 'N')
			, 'N'
			, NOW()
			, NULL
			, NULL
		)
	</insert>
	
	<select id="selectKakaoList" parameterType="KakaoT" resultType="KakaoT">
		SELECT
			<include refid="kakaoColumns" />
		FROM TB_KAKAO_TEST
		WHERE DELETE_YN = 'N'
	</select>
</mapper>


